<div class="flex gap-2">
  <div class="flex justify-end w-48 py-4 px-6" [formGroup]="formGroup">
    <input
      class="w-32 px-2 mx-2 border border-transparent hover:border-blue-400"
      formControlName="assignTo"
      [title]="evaluation | json"
    />
    <span class="self-center">=</span>
  </div>
  <div class="w-full">
    <ng-content></ng-content>
  </div>
  <button
    class="px-4 bg-blue-500 hover:bg-blue-600 text-white"
    (click)="editRequested.emit()"
  >
    Edit
  </button>
  <button
    class="px-4 bg-red-500 hover:bg-red-600 text-white"
    (click)="removed.emit()"
  >
    Remove
  </button>
</div>
