<div class="grid grid-cols-3 gap-4">
  <div
    *ngFor="let dataflowPreview of dataflowPreviews$ | async"
    class="p-5 bg-gray-400 hover:bg-gray-500 cursor-pointer"
    (click)="navigateToDataflow(dataflowPreview.id)"
  >
    {{ dataflowPreview.id }}
  </div>
</div>
<div class="flex gap-2 justify-end mt-4">
  <div class="p-4 bg-gray-400 flex">
    <label class="py-1 px-2">Dataflow ID</label>
    <input class="py-1 px-2" [formControl]="creationId" placeholder="my-new-dataflow" />
  </div>
  <button
    type="submit"
    class="p-5 bg-blue-600 hover:bg-blue-700 text-white"
    (click)="createDataflow(creationId.value)"
  >
    Create
  </button>
</div>
