<div *ngIf="formGroup$ | async as formGroup" [formGroup]="formGroup">
  <div class="w-full mb-2 p-4 bg-gray-300">
    <input
      class="w-full px-2 bg-gray-300 box-border border border-transparent hover:border-blue-400"
      type="text"
      formControlName="name"
      placeholder="Dataflow Name"
    />
  </div>
  <div class="flex mb-2 gap-2 justify-end">
    <button
      class="mt-2 p-4 bg-red-500 hover:bg-red-600 text-white"
      *ngIf="execution$ | async"
      (click)="clearExecution()"
    >
      <i class="fas fa-stop"></i>
    </button>
    <button
      class="mt-2 p-4 bg-blue-600 hover:bg-blue-700 text-white"
      (click)="execute(formGroup)"
    >
      <i class="fas fa-play"></i>
    </button>
    <button
      class="mt-2 p-4 bg-blue-600 hover:bg-blue-700 text-white"
      (click)="persist(formGroup)"
    >
      <i class="fas fa-save"></i>
    </button>
    <button
      class="mt-2 p-4 bg-blue-600 hover:bg-blue-700 text-white"
      (click)="viewJson()"
    >
      <i class="fas fa-code"></i>
    </button>
  </div>
  <app-steps
    [steps]="formGroup.get('steps')"
    [evaluations]="evaluations$ | async"
    (editStepRequest)="editStep(formGroup, $event)"
  ></app-steps>
</div>
