<div [formGroup]="formGroup">
  <div class="flex flex-col gap-2" formArrayName="steps">
    <div
      class="flex gap-2"
      *ngFor="let step of steps.controls; let stepIndex = index"
      [formGroupName]="stepIndex"
    >
      <div class="flex justify-end w-48 py-4 px-6">
        <input
          class="w-32 px-2 mx-2 border border-transparent hover:border-blue-400"
          formControlName="assignTo"
          [title]="(variables$ | async)[step.get('assignTo').value] | json"
        />
        =
      </div>
      <app-http-request
        class="w-full"
        [formGroup]="step.get('httpRequestTemplate')"
        [evaluation]="(evaluations$ | async)[stepIndex]"
      ></app-http-request>
    </div>
  </div>
  <div>
    <button
      class="w-full mt-2 p-4 bg-gray-300 hover:bg-gray-400"
      (click)="addStep()"
    >
      Add another API call
    </button>
  </div>
  <div class="flex justify-end">
    <button
      class="mt-2 p-4 bg-blue-600 hover:bg-blue-700 text-white"
      (click)="execute()"
    >
      Execute
    </button>
  </div>
</div>
