<div [formGroup]="formGroup" class="w-full py-5 px-6 bg-gray-400">
  for
  <input
    type="text"
    formControlName="const"
    class="py-1 px-2 mx-1 bg-gray-400 border border-transparent hover:border-blue-400"
  />
  in
  <input
    type="text"
    formControlName="in"
    class="py-1 px-2 mx-1 bg-gray-400 border border-transparent hover:border-blue-400"
  />
  return each
  <input
    type="text"
    formControlName="return"
    class="py-1 px-2 mx-1 bg-gray-400 border border-transparent hover:border-blue-400"
  />
  after steps
  <app-steps [steps]="formGroup.get('do')" [evaluations]="{}"></app-steps>
</div>
